/* html, body {
    height: 100%;
    overflow: auto;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.top {
    background-color: black;
    color: white;
    overflow: auto;
}

.title {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    margin-left: 15px;
}
